@charset "UTF-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


* {
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

#main {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* fullscreen */
#home .wrap,
#home .main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#home .wrap {
  position: relative;
}

#home .fullscreen {
  background-image: url("../img/main_bg.png");
  background-position: center;
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#home .main-content {
  margin: 0 auto;
}

#home .header_bar {
  width: 100%;
	height: 50px;
  display: flex;
	flex-direction: row;
	justify-content: center;
  margin: 0 auto;
  border-bottom: 1px dashed #fff;
	opacity: .5;
}

#home .information_bar {
	width: 67%;
	height: 50px;
  display: inline-block;
  color: white;
  padding-top: 12px;
}

#home .information_bar span {
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 5px;
  font-size: 0.7em;
}

#home .information_bar .fas {
  margin-left: 10px;
}

#home .information_bar span:hover {
  color: red;
  cursor: pointer;
}

#home .community_bar {
	height: 50px;
  display: inline-block;
  padding: 10px;
  color: white;
}

#home .community_bar i {
  padding: 8px;
}

#home .community_bar i:hover {
  color: red;
  cursor: pointer;
}

#home nav {
  width: 100%;
	height: 120px;
  display: flex;
	flex-direction: row;
	justify-content: center;
  margin: 0 auto;
}

#home .main_logo {
	width: 55%;
	display: inline-block;
  padding: 30px;
}

#home .main_logo img {
  width: 150px;
  height: 60px;
}

#home .menu_bar {
	display: inline-block;
}

#home .menu_bar li {
	display: inline-block;
	padding: 35px 30px 0 0;
}

#home .menu_bar li a {
	color: #fff;
	font-family: 'Kufam', cursive;
	font-size: 1em;
}

#home .menu_bar li a:hover {
	color: red;
	transition: .6s;
}

#home .main_container {
	width: 70%;
	height: 50%;
	margin: 0 auto;
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home .introducing {
	width: 70%;
	margin-top: -70px;
}

#home .intro {
	width: 100%;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Sriracha', cursive;
	border-bottom: 1px dotted #fff;
}

#home .introducing p {
	color: #fff;
	font-family: 'Archivo Black', sans-serif;
	font-size: 3em;
	letter-spacing: 5px;
}

#home .inbtn {
	width: 150px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 1em;
	color: #fff;
	background-color: #ff6c1c;
	padding: 5px;
	margin-left: 5px;
}

#home .inbtn:hover {
	background-color: #803c17;
	transition: 1s;
}

#home .introducing_img img {
	width: 330px;
	height: 330px;
}

#home .mouse_icon {
	position: absolute;
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
}

#home .wheel {
	position: absolute;
  left: 50%;
  width: 4px;
  height: 10px;
  margin-left: -2px;
  text-indent: -9999px;
  background-color: #fff;
  border-radius: 10px;
  animation-name: mousewheel;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite
}

@keyframes mousewheel {
	0% {
		top: 5px;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}

/* about */
#about {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#about .ab_left {
	width: 50%;
	height: 700px;
	background-color: #2a2525;
	text-align: right;
	padding: 150px 100px 100px 100px;
}

#about .ab_right {
	width: 50%;
	height: 700px;
	background-color: #3f3837;
	text-align: left;
	padding: 150px 100px 100px 100px;
}

#about .title {
	color: #fff;
	font-size: 4.4em;
	font-family: 'Roboto', sans-serif;
}

#about p {
	color: #fff;
	line-height: 38px;
	font-size: 0.9em;
	font-family: 'Noto Sans KR', sans-serif;
}

/* Certificate */
#certificate {
	width: 100%;
	margin: 0 auto;
}

#certificate .license {
	margin-top: 70px;
	margin-bottom: 150px;
}

#certificate .license h3 {
	font-family: 'Kufam', cursive;
	font-size: 2em;
	margin-bottom: 50px;
	color: #3f3837;
	text-align: center;
}

#certificate .ability {
	position: relative;
}

#certificate .ability:before,
#certificate .ability:after {	/* 다이아몬드 */
	position: absolute;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -13px;
	background-color: #3f3837;
	opacity: .9;
	transform: rotate(45deg);
	content: '';
}

#certificate .ableline:before {	/* 중앙선 */
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 2px;
	margin-left: -1px;
	background-color: #3f3837;
	opacity: .7;
	content: '';
}

#certificate .ableline li {
	position: relative;
	margin-bottom: 10px;
}

#certificate .ableline .first {
	min-height: 120px;
}

#certificate .ableline .second {
	min-height: 200px;
}

#certificate .ableline .third {
	min-height: 250px;
}

#certificate .ableline .fourth {
	min-height: 300px;
}

#certificate .sub_title {
	position: absolute;
	left: 50%;
	top: 0;
	width: 120px;
	margin-left: -60px;
	margin-top: 28px;
	color: #3f3837;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 20px;
	text-align: center;
	background-color: #fff;
	z-index: 999;
}

#certificate .ableline-panel {
	width: 44%;
	border: 1px solid #eee;
}

#certificate .ableline-normal .ableline-panel {
	float: left;
	position: relative;
	text-align: right;
}

#certificate .ableline-inverted .ableline-panel {
	float: right;
}

#certificate .ableline-normal .ableline-panel:before {	/* 화살표 외곽선 */
	display: block;
	position: absolute;
	left: 100%;
	top: 25px;
	width: 0;
	height: 0;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent transparent #eee;
	transition: all 0.4s;
	content: '';
}

#certificate .ableline-normal .ableline-panel:hover:before {
	border-left-color: #7f625f;
}

#certificate .ableline-normal .ableline-panel:after {
	display: block;
	position: absolute;
	left: 100%;
	top: 25px;
	width: 0;
	height: 0;
	margin-left: -2px;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	transition: all 0.4s;
	content: '';
}

#certificate .ableline-normal .ableline-panel:hover:after {
	border-left-color: #7f625f;
}

#certificate .ableline-panel .ableline-content {
	position: relative;
	padding: 20px;
	line-height: 20px;
	background-color: #fff;
	transition: all 0.4s;
}

#certificate .ableline-panel:hover .ableline-content {
	color: #fff;
	background-color: #7f625f;
}

#certificate .ableline-panel .ableline-content:after {	/* 하단 이중선 */
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 10px;
	border: 1px solid #eee;
	box-sizing: border-box;
	z-index: -1;
	content: '';
}

#certificate .ableline-panel .ableline-content h4 {
	color: #000;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1em;
	transition: all 0.4s;
}

#certificate .ableline-panel:hover .ableline-content h4 {
	color: #fff;
}

/* Portfolio */
#portfolio {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

#portfolio .port_title {
	font-family: 'Cinzel', serif;
	font-size: 3.2em;
	text-align: center;
	margin-bottom: 50px;
}

#portfolio .port_title span {
	color: red;
}

#portfolio .swiper-container {
  width: 80%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .swiper-slide {
  text-align: center;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio .swiper-slide h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 1.8em;
	line-height: 1.5em;
}

#portfolio .swiper-slide h1 span {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: .9em;
}

#portfolio .swiper-slide h3 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1em;
	font-weight: 300;
}

#portfolio .swiper-slide img {
	width: 40%;
	height: 50%;
}

#portfolio .swiper-slide p img {
	width: 20px;
	height: 20px;
	padding: 3px;
}

/* Rocket Tracker button */
#portfolio .pfbtn1 {
  position: relative;
	width: 200px;
	height: 50px;
	margin: auto;
	margin-top: 10px;
}

#portfolio .pfbtn1.btn1 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#fbb6ce -50%,#fed7e2 100%);
  transition: width 250ms;
}

#portfolio .pfbtn1.btn1 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#c76fa5 -50%,#fbb6ce 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .pfbtn1:hover .btnBg {
	width: 200px;
}

#portfolio .pfbtn1:hover a {
	color: #fff;
}

/* OPPA CAR button */
#portfolio .pfbtn2 {
  position: relative;
  width: 200px;
  height: 50px;
	margin: auto;
	margin-top: 10px;
}

#portfolio .pfbtn2.btn2 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#000030 -50%,#3658bf 100%);
  transition: width 250ms;
}

#portfolio .pfbtn2.btn2 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#000030 -50%,#3658bf 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .pfbtn2:hover .btnBg {
	width: 200px;
}

#portfolio .pfbtn2:hover a {
	color: #fff;
}

/* SEIKO button */
#portfolio .pfbtn3 {
  position: relative;
  width: 200px;
  height: 50px;
	margin: auto;
	margin-top: 10px;
}

#portfolio .pfbtn3.btn3 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#000 -50%,#5d5d5d 100%);
  transition: width 250ms;
}

#portfolio .pfbtn3.btn3 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#000 -50%,#5d5d5d 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .pfbtn3:hover .btnBg {
	width: 200px;
}

#portfolio .pfbtn3:hover a {
	color: #fff;
}

/* Portfolio 1.0 button */
#portfolio .pfbtn4 {
  position: relative;
  width: 200px;
  height: 50px;
	margin: auto;
	margin-top: 10px;
}

#portfolio .pfbtn4.btn4 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#2b81e3 -50%,#00bbff 100%);
  transition: width 250ms;
}

#portfolio .pfbtn4.btn4 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#2b81e3 -50%,#00bbff 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .pfbtn4:hover .btnBg {
	width: 200px;
}

#portfolio .pfbtn4:hover a {
	color: #fff;
}
